.judul {
    font-size: 40px;
    background-color: deeppink;
}

.teks1 {
    font-size: 20px;
    background-color: pink;
}

.teks2 {
    font-size: 16pt;
    background-color: palevioletred;
}