/*Style for the external CSS file */
body { 
font-family: Arial,sans-serif;
background-color: #0aee3f;
margin:0;
padding:0;
}
h1 {
    color: yellow;
    text-align: center;
    margin-top: 20px;
}
p {
    color: #3011f9;
    line-height:1.6 ;
    padding: 0 20px;
}
   